body{
  background-color:#000000;
font-family: monospace;
}
h1{
  color:#FFFFFF;
  font-family: monospace;
  font-size: 3em;
  text-align: center;
}
h2{
  color:#FFFFFF;
  font-family: monospace;
  font-size: 2em;
}
.nav{
  background:black;
  text-align: right;
}

.nav a {
  color: white;
  padding: 4em;
  text-align: right;
  display: inline-block;
  font: monospace;
  padding: 25 px 0 25px;
  font-size: 3em
  list-style-type: none;
}
