body{
background-color:#000000;
font-family: monospace;
}
.nav{
  text-align: right;
}

.nav a {
  color: white;
  padding: 4em;
  text-align: right;
  display: inline-block;
  font: monospace;
  padding: 25 px 0 25px;
  font-size: 3em
  list-style-type: none;
}
h1{
  color:#FFFFFF;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  line-height: 60px;
}
form{ color: #FFFFFF;
  padding: 4em;
  text-align: left;
}
h3{
  font-family: monospace;
  font-size: 1em;
}
.btn{
  width: 160px;
  height: 55px;
  background-color:#525252;
  border-radius: 10px;
  font-size: 22px;
  text-align: center;
}
.hover_bkgr_fricc{
    background:rgba(0,0,0,.4);
    cursor:pointer;
    display:none;
    height:100%;
    position:fixed;
    text-align:center;
    top:0;
    width:100%;
    z-index:10000;
}
.hover_bkgr_fricc .helper{
    display:inline-block;
    height:100%;
    vertical-align:middle;
}
.hover_bkgr_fricc > div {
    background-color: #fff;
    box-shadow: 10px 10px 60px #555;
    display: inline-block;
    height: auto;
    max-width: 551px;
    min-height: 100px;
    vertical-align: middle;
    width: 60%;
    position: relative;
    border-radius: 8px;
    padding: 15px 5%;
}
.popupCloseButton {
    background-color: #fff;
    border: 3px solid #999;
    border-radius: 50px;
    cursor: pointer;
    display: inline-block;
    font-family: arial;
    font-weight: bold;
    position: absolute;
    top: -20px;
    right: -20px;
    font-size: 25px;
    line-height: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
}
.popupCloseButton:hover {
    background-color: #ccc;
}
.trigger_popup_fricc {
    cursor: pointer;
    font-size: 20px;
    margin: 20px;
    display: inline-block;
    font-weight: bold;
}
