body{
  background-color:#000000;
font-family: monospace;
}
.nav{
  background-image: starrynight.jpeg;
  text-align: right;
}

.nav a {
  color: white;
  padding: 4em;
  text-align: right;
  display: inline-block;
  font: monospace;
  padding: 25 px 0 25px;
  font-size: 3em
  list-style-type: none;
}
h1{
  color:#FFFFFF;
  font-family: monospace;
  font-size: 2em;
  text-align: center;
  text-decoration: underline;
  line-height: 60px;
}
form{ color: #FFFFFF;
  padding: 4em;
  text-align: left;
  display: inline-block;
}
h3{
  font-family: monospace;
  font-size: 1em;
}
.btn{
  width: 160px;
  height: 55px;
  background-color:#525252;
  border-radius: 10px;
  font-size: 22px;
  text-align: center;


}
