
  body{
    background-color:#000000;
  font-family: monospace;
}
  h1{
    color:#FFFFFF;
    font-family: monospace;
    font-size: 5em;
    text-align: center;
    font-size: 5em;

  }

h2{
  color:#FFFFFF;
  font-family: monospace;
  font-size: 1.5em;
  text-align: center;
  text-decoration: underline;
}
.nav{
  text-align: right;
}

.nav a {
  color: white;
  padding: 4em;
  text-align: right;
  display: inline-block;
  font: monospace;
  padding: 25 px 0 25px;
  font-size: 3em
  list-style-type: none;
}

  /* .btn {
      border: none;
      background-color: inherit;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      display: inline-block;
      text-align: center
    } */

  .buttons{
    color:#000000
    font-family:monospace;
<<<<<<< HEAD
    text-align: center
  }

  #current_page{
    background-color: grey;
  }
=======
    margin-bottom: 10%;
  }
>>>>>>> parent of 6331884... additions
