
  body{
    background-color:#000000}
  h1{
    color:#FFFFFF;
    font-family: monospace;
    font-size: 5em;
    text-align: center
  }
  h2{
    color:#FFFFFF;
    font-family:monospace;
    margin-bottom: 10%;
    text-align: center
  }
  
