
  body{
    background-color:#000000;
  font-family: monospace;
}
  h1{
    color:#FFFFFF;
    font-family: monospace;
    font-size: 5em;
    text-align: center
  }


.nav{
  background-color:#525252;
}

.nav a {
  color: white;
  padding: 1em;
  text-align: center;
  display: inline-block;
  font: monospace;
}
